@import "tailwindcss";

@plugin "daisyui" {
    themes: false;
}

/*@plugin "daisyui" {*/
/*    themes: light --default, dark --prefersdark, emerald, dim;*/
/*}*/

/*@plugin "daisyui/theme" {*/
/*    name: "light";*/

/*    --color-base-100: oklch(100% 0 0);*/
/*    --color-base-200: oklch(98% 0 0);*/
/*    --color-base-300: oklch(95% 0 0);*/

/*    --color-base-content: oklch(21% 0.006 285.885);*/
/*    --color-primary: #ff073a;*/
/*    --color-primary-content: #ffffff;*/
/*    --color-secondary: #1a1a1a;*/
/*    --color-secondary-content: #ffffff;*/
/*    --color-accent: oklch(77% 0.152 181.912);*/
/*    --color-accent-content: oklch(38% 0.063 188.416);*/
/*    --color-neutral: oklch(14% 0.005 285.823);*/
/*    --color-neutral-content: oklch(92% 0.004 286.32);*/

/*    --color-info: #036fe3;*/
/*    --color-info-content: #fff;*/
/*    --color-success: #008539;*/
/*    --color-success-content: #fff;*/
/*    --color-warning: #ffc835;*/
/*    --color-warning-content: #000;*/
/*    --color-error: #da294a;*/
/*    --color-error-content: #000;*/

/*    --radius-selector: 0.5rem;*/
/*    --radius-field: 0.25rem;*/
/*    --radius-box: 0.5rem;*/
/*    --size-selector: 0.25rem;*/
/*    --size-field: 0.25rem;*/
/*    --border: 1px;*/
/*    --depth: 1;*/
/*    --noise: 0;*/

/*    --shiki-theme: 'catppuccin-latte';*/
/*    --color-code-background: var(--color-base-200);*/
/*}*/
/*@plugin "daisyui/theme" {*/
/*    name: "dark";*/

/*    --color-base-100: oklch(25.33% 0.016 252.42);*/
/*    --color-base-200: oklch(23.26% 0.014 253.1);*/
/*    --color-base-300: oklch(21.15% 0.012 254.09);*/

/*    --color-base-content: oklch(97.807% 0.029 256.847);*/
/*    --color-primary: #ff073a;*/
/*    --color-primary-content: oklch(96% 0.018 272.314);*/
/*    --color-secondary: #1a1a1a;*/
/*    --color-secondary-content: oklch(94% 0.028 342.258);*/
/*    --color-accent: oklch(77% 0.152 181.912);*/
/*    --color-accent-content: oklch(38% 0.063 188.416);*/
/*    --color-neutral: oklch(14% 0.005 285.823);*/
/*    --color-neutral-content: oklch(92% 0.004 286.32);*/

/*    --color-info: oklch(74% 0.16 232.661);*/
/*    --color-info-content: oklch(29% 0.066 243.157);*/
/*    --color-success: oklch(76% 0.177 163.223);*/
/*    --color-success-content: oklch(37% 0.077 168.94);*/
/*    --color-warning: oklch(82% 0.189 84.429);*/
/*    --color-warning-content: oklch(41% 0.112 45.904);*/
/*    --color-error: oklch(71% 0.194 13.428);*/
/*    --color-error-content: oklch(27% 0.105 12.094);*/

/*    --radius-selector: 0.5rem;*/
/*    --radius-field: 0.25rem;*/
/*    --radius-box: 0.5rem;*/
/*    --size-selector: 0.25rem;*/
/*    --size-field: 0.25rem;*/
/*    --border: 1px;*/
/*    --depth: 1;*/
/*    --noise: 0;*/

/*    --shiki-theme: 'catppuccin-frappe';*/
/*    --color-code-background: var(--color-base-200);*/
/*}*/
/*@plugin "daisyui/theme" {*/
/*    name: "emerald";*/
/*    default: true;*/
/*    --shiki-theme: 'andromeeda';*/
/*    --color-code-background: 'oklch(0.28036 0.019 264.182)';*/
/*}*/
/*@plugin "daisyui/theme" {*/
/*    name: "dim";*/
/*    default: true;*/
/*    --shiki-theme: 'catppuccin-frappe';*/
/*    --color-code-background: var(--color-base-200);*/
/*}*/

@theme {
    --font-sans: 'Roboto';
    --font-mono: 'Roboto Mono';
}

html {
    font-size: 20px;
}
html, :root {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

svg.lucide {
    width: 1em;
    height: auto;
}

.thumbnail {
    aspect-ratio: 1;
    width: min(100%, 8em);
    min-width: 4em;
    container-type: size;
    display: inline-block;
}

#g6Root,
#g6Root .g6-background,
#g6Root canvas {
    border-bottom-left-radius: var(--radius-box);
    border-bottom-right-radius: var(--radius-box);
}
