.smaller {
    font-size: 0.75rem;
}

.normal {
    font-size: 1rem;
}

.bigger {
    font-size: 1.25rem;
}

.smaller ember-nexus-default-thumbnail {
    width: 6rem;
}

.normal ember-nexus-default-thumbnail {
    width: 8rem;
}

.bigger ember-nexus-default-thumbnail {
    width: 10rem;
}

.card-width {
    width: 30rem;
    max-width: 100%;
}

.flex-height {
    height: 20rem;
    max-height: 50vh;
}

#root-inner {
    min-width: 8rem;
}

#storybook-root {
    max-width: 100%;
}

:root {
    --toolbar-item-border-radius: 0.25rem;
    --toolbar-item-background-color: #fff;
    --toolbar-gap: 0.25rem;
    --toolbar-padding: 0.25rem;
    --toolbar-border-radius: 0.25rem;
    --toolbar-background-color: #f0f0f4;
    --toolbar-dropdown-background-color: #333;
}

html.light {
    --background-color: #ffffff;
    --toolbar-background-color: #f0f0f4;
    --toolbar-item-background-color: #fff;
    --toolbar-dropdown-background-color: #333;
}

html.dark {
    --background-color: #1A1A1A;
    --toolbar-background-color: #007BFF;
    --toolbar-item-background-color: #5B5B66;
    --toolbar-dropdown-background-color: #FF073A;
}

html.forest {
    --background-color: #4B5945;
    --toolbar-background-color: #66785F;
    --toolbar-item-background-color: #fff;
    --toolbar-dropdown-background-color: #91AC8F;
    --toolbar-gap: 3px;
    --toolbar-padding: 3px;
    --toolbar-border-radius: 3px;
    --toolbar-item-border-radius: 3px;
}

html.sand {
    --background-color: #A59D84;
    --toolbar-background-color: #C1BAA1;
    --toolbar-item-background-color: #fff;
    --toolbar-dropdown-background-color: #D7D3BF;
    --toolbar-gap: 3px;
    --toolbar-padding: 3px;
}

html body.sb-show-main {
    background-color: var(--background-color) !important;
}
