/*@import url('@ember-nexus/uix/Style/index.css');*/

html {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;

    --border-radius-none: 0;
    --border-radius-thin: 3px;
    --border-radius: 10px;
    --border-radius-thick: 20px;

    --border-width-none: 0;
    --border-width: 1px;
    --color-content-background: #fff;
    --color-border: #000;
    --color-shadow: 220 3% 15%;
    --shadow-strength: 1%;
    --shadow-1: 0 1px 2px -1px hsl(var(--color-shadow) /
          calc(var(--shadow-strength) + 9%));
    --shadow-2: 0 3px 5px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 5%));
    --shadow-3: 0 -1px 3px 0 hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 7%));
    --shadow-4: 0 -2px 5px 0 hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 6%));
    --shadow-5: 0 -1px 2px 0 hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 7%));
    --shadow-6: 0 -1px 2px 0 hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 2%)),
    0 3px 2px -2px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 3%)),
    0 7px 5px -2px hsl(var(--color-shadow) / calc(var(--shadow-strength) + 3%)),
    0 12px 10px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 4%)),
    0 22px 18px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 5%)),
    0 41px 33px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 6%)),
    0 100px 80px -2px hsl(var(--color-shadow) /
            calc(var(--shadow-strength) + 7%));
    --card-background: var(--color-content-background);
    --card-border-radius: var(--border-radius);
    --card-border-width: var(--border-width-none);
    --card-border-color: var(--color-border);
    --card-border-style: solid;
    --card-shadow: var(--shadow-2);

    --un-text-opacity: 100%;
    --un-bg-opacity: 100%;
}
